@model FarmerCreationViewModel
@{
    ViewData["Title"] = "Add Farmer";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="AddFarmer" method="post" m>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-floating mb-3">
        <input asp-for="@Model.FirstName" class="form-control" aria-required="true" placeholder="First Name" />
        <label asp-for="@Model.FirstName">First Name</label>
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.Surname" class="form-control" aria-required="true" placeholder="Surname" />
        <label asp-for="@Model.Surname">Surname</label>
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
        <label asp-for="@Model.Email">Email</label>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
        <label asp-for="@Model.Password">Password</label>
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
        <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Register Farmer</button>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}