@using AgriEnergyConnectPOE.Data
@model Product;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<br />
<br />
<br />
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.ImagePath" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Prod Date: @Model.ProductionDate.ToShortDateString() </div>
                <h1 class="display-5 fw-bolder">@Model.ProductName</h1>
                <div class="fs-5 mb-5">
                    <span>R @Model.ProductPrice</span>
                </div>
                <p class="lead">@Model.ProductDescription</p>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                       Delete Listing
                    </button>
                </div>
                <br/>
                <div class="small mb-1">Category: @Model.Category.CategoryName </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

